<soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:tem="http://tempuri.org/" xmlns:wcf="http://schemas.datacontract.org/2004/07/Wcftest">
			<soapenv:Header/>
				<soapenv:Body>
					<tem:doPayment>
						 <tem:request>
							<wcf:contract_number>${body.contractNumber}</wcf:contract_number>
							<wcf:name>${body.customerName}</wcf:name>
							<wcf:password>${headers.WSPassword}</wcf:password>
							<wcf:reference_id>${body.bankReference}</wcf:reference_id>
							<wcf:serial_number>${body.billSerialNumber}</wcf:serial_number>
							<wcf:total_fature>${body.totalAmount}</wcf:total_fature>
							<wcf:username>${headers.WSUsername}</wcf:username>
						 </tem:request>
				  </tem:doPayment>
			</soapenv:Body>
		</soapenv:Envelope>