<soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:tem="http://tempuri.org/">
   <soapenv:Header/>
   <soapenv:Body>
      <tem:SearchInvoiceList>
          	<tem:username>${headers.WSUsername}</tem:username>
         	<tem:password>${headers.WSPassword}</tem:password>
         	<tem:institute_code>UKT</tem:institute_code>
          	<tem:contract_number>${body.contractNumber}</tem:contract_number>
      </tem:SearchInvoiceList>
	</soapenv:Body>
</soapenv:Envelope>